<div *ngIf="isPage then pageTheme else AdminTheme"></div>

<!--Admin-->
<ng-template #AdminTheme>
    <header class="app-header navbar">
        <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">&#9776;</button>
        <a class="navbar-brand" href="#"></a>
        <ul class="nav navbar-nav hidden-md-down">
            <li class="nav-item">
                <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
            </li>
        </ul>
    </header>

    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> Inicio <span class="badge badge-info">NEW</span></a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- Main content -->
        <main class="main">

            <!-- Breadcrumb -->
            <ol class="breadcrumb">
                <breadcrumbs></breadcrumbs>
            </ol>

            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
            <!-- /.conainer-fluid -->
        </main>
    </div>

    <footer class="app-footer">
        <a href="http://futbolcenter.lava.mx/">Futcenterhmo</a> &copy; 2017.
        <span class="float-right">Powered by <a href="http://ramico.net">Ramico</a>
        </span>
    </footer>
</ng-template>
<!--Page-->
<ng-template #pageTheme>
    <app-page></app-page>
</ng-template>